@import 'jeet'
@import 'vars'
@import 'grids'
@import 'slides'
@import 'carousel'

big-screen-margin(big = $inner-width)
  margin: 0 auto
  width: big

small-screen-margin(small = $inner-margin-phone)
  padding-left: small
  padding-right: small
  width: auto

screen-margin(big = $inner-width, small = $inner-margin-phone)
  big-screen-margin(big)
  @media(max-width: $breakpoint-tablet)
    small-screen-margin(small)

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html
  font-size: $base-size
  font-family: 'EB Garamond', Times, serif
  @media(max-width: $breakpoint-phone)
    font-size: $base-size-phone

#main > .pg
  position: relative

nav.nav-top
  clearfix()
  screen-margin()
  padding: 15px
  font-size: 0.8rem
  a
    display: block
    float: right
    white-space: nowrap
    font-family: Tahoma, sans-serif
    margin-left: 1.5rem
    color: #999
    text-decoration: none
  a:hover
  a.on
    color: black
  a.logo
    display: block
    float: left
    margin-left: 0
    width: 7rem
    font-family: Tahoma, sans-serif
    font-weight: bold
  a:hover
    text-decoration: underline
  a.on:hover
    text-decoration: none

  @media(max-width: $breakpoint-phone)
    display: none

h1#headline
  margin: 0 0 1rem
  padding: 0
  font-size: 2.5rem

h1
  margin: 1rem 0
  font-size: 2.5rem
  font-weight: normal

@media(max-width: $breakpoint-phone)
  h1#headline
    font-size: 1.3rem
  h1
    margin: 0.5rem 0

article
  clearfix()
  display: block
  // margin: 0 auto
  // width: 1024px
  // max-width: 100%
  background-color: white
  background-repeat: no-repeat
  @media(max-width: $breakpoint-phone)
    width: auto

  img
    display: block
    height: auto
    max-width: 100%

  p
    margin: 1em 0
    line-height: 1.2

  ul
    padding-left: 2rem

  .outer
    screen-margin(95%)
  .inner
    screen-margin()
    padding-top: 1rem
    padding-bottom: 2rem
    @media(max-width: $breakpoint-phone)
      padding-bottom: $inner-margin-phone

    & + .inner
    & + .boxed
      padding-top: 0
    .boxed
      padding-bottom: 0

    & > picture
      margin-top: 2rem
      margin-bottom: 2rem

  .boxed
    clearfix()
    padding: 1rem

    & + .inner
      padding-top: 0
    figcaption
      margin: $gutter-spacing 0

  @media(max-width: $breakpoint-phone)
    p
      margin: 0.5em 0

picture
  display: block

figcaption
  // margin: .25rem 0
  display: block
  font-size: 0.8rem
  height: 2.8em
  line-height: 1.4em
  font-family: sans-serif
  color: #666

// .reverse figure
//   color: #ccc

//- start: parallax section
#main
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  @media(min-width: $breakpoint-parallax)
    perspective: 1px
    transform-style: preserve-3d
  height: 100vh

@media(min-width: $breakpoint-parallax)
  header
    position: relative
    transform: translateZ(-.5px) scale(1.5)

#intro
.parallax .inner
  position: relative
  display: block
  background-color: white
  z-index: 1

#intro
  padding: 1rem 0 0

.parallax
  position: relative
  // max-width: 1024px
  @media(min-width: $breakpoint-parallax)
    margin: 1rem auto 0
  picture
    object-fit: cover
    source
    img
      position: relative
      height: auto
      width: 100%
      @media(min-width: $breakpoint-parallax)
        transform: translateZ(-.2px) scale(1.2)
        z-index: -2

//- end: parallax section

//- start: Pages custom css
@import 'tours'
.portrait
  img
    border-radius: 25%
    border-width: 4px
    border-style: solid
  figure
    text-align: center
@import 'contact'
//- end: Pages custom css
//- start: Footer
footer
  nav
    clearfix()
    display: block
    padding: 3rem
    font-size: 0.8rem
    background-color: black
    a
      display: block
      margin-left: 2rem
      float: left
      color: white
      white-space: nowrap
      font-family: Tahoma, sans-serif
      text-decoration: none
    a.on
      display: none
//- end: Footer
