//- start: Hero Unit
$scaleFactor = 1.16
$rotate = 1deg
$xFactor = 20px
$duration = 6s


// Ease

$easeInOutBack = cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeOutBack = cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutSine = cubic-bezier(0.445, 0.050, 0.550, 0.950);

@keyframes kenburnsOdd
  0%
    transform: translate3d(0,0,0) scale(1)
  100%
    transform: translateX(-1 * $xFactor) scale($scaleFactor) rotate(-1 * $rotate)

@keyframes kenburnsEven
  0%
    transform: translate3d(0,0,0) scale(1)
  100%
    transform: translateX($xFactor) scale($scaleFactor) rotate($rotate)

// Large Hero
.slider
  display: flex
  scroll-snap-type: x mandatory
  overflow: hidden
  overflow-x: scroll
  // scroll-snap-points-x: repeat(100%);
  // scroll-snap-destination: 0% 100%;

.slider
.slide
  position: relative
  height: 560px
  max-height: 70vw

.slide
  scroll-snap-align: center
  display: block
  width: 100%
  flex-shrink: 0

.slide
  .slide-cropper
    position: relative
    width: 100%
    height: 100%
    overflow: hidden

  .slide-background
    position: absolute
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.auto-show .on.slide .slide-background
  animation-duration: $duration
  animation-delay: 1s
  animation-fill-mode: forwards

.auto-show .on.slide:nth-child(odd) .slide-background
  animation-name: kenburnsOdd

.auto-show .on.slide:nth-child(even) .slide-background
  animation-name: kenburnsEven

.is-js .lazyload .slide-background
  background-image: none

.slide1
  background-image: url(/images/hero/cockatoo/lg/Q5A6631.jpg)

.slide2
  background-image: url(/images/hero/cockatoo/lg/parrents-preening.jpg)

.slide3
  background-image: url(/images/hero/cockatoo/lg/Q5A2270.jpg)

.slide4
  background-image: url(/images/hero/cockatoo/lg/Q5A2697.jpg)

.slide5
  background-image: url(/images/hero/cockatoo/lg/Q5A2371.jpg)

.slide6
  background-image: url(/images/hero/cockatoo/lg/Q5A2377.jpg)

.slide7
  background-image: url(/images/hero/eclectus/lg/Q5A3607.jpg)

.slide8
  background-image: url(/images/hero/eclectus/lg/Q5A3708.jpg)

.slide9
  background-image: url(/images/hero/eclectus/lg/Q5A3979.jpg)

.slide10
  background-image: url(/images/hero/eclectus/lg/Q5A4003.jpg)

.slide11
  background-image: url(/images/hero/eclectus/lg/Q5A4012.jpg)

.slide12
  background-image: url(/images/hero/cockatoo/lg/Q5A6572.jpg)


// hero fade in
.is-js .slider::after
    position: absolute
    content: ''
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: #eee
    z-index: 1
    transition: opacity 1s linear
.is-js .slider.loaded::after
    opacity: 0

// Vertical Tablet Hero
@media(min-width: $breakpoint-phone) and (max-width: $mediaBp1Width)
  .slider
  .slide
    // width: auto
    height: 500px
    max-height: 65.1vw

  .slide1
    background-image: url(/images/hero/cockatoo/md/Q5A6631.jpg)

  .slide2
    background-image: url(/images/hero/cockatoo/md/parrents-preening.jpg)

  .slide3
    background-image: url(/images/hero/cockatoo/md/Q5A2270.jpg)

  .slide4
    background-image: url(/images/hero/cockatoo/md/Q5A2697.jpg)

  .slide5
    background-image: url(/images/hero/cockatoo/md/Q5A2371.jpg)

  .slide6
    background-image: url(/images/hero/cockatoo/md/Q5A2377.jpg)

  .slide7
    background-image: url(/images/hero/eclectus/md/Q5A3607.jpg)

  .slide8
    background-image: url(/images/hero/eclectus/md/Q5A3708.jpg)

  .slide9
    background-image: url(/images/hero/eclectus/md/Q5A3979.jpg)

  .slide10
    background-image: url(/images/hero/eclectus/md/Q5A4003.jpg)

  .slide11
    background-image: url(/images/hero/eclectus/md/Q5A4012.jpg)

  .slide12
    background-image: url(/images/hero/cockatoo/md/Q5A6572.jpg)

// Phone Hero
@media(max-width: $breakpoint-phone)
  .slider
  .slide
    height: 90vw
    max-height: none

  .slide1
    background-image: url('/images/hero/cockatoo/sm/Q5A6631.jpg')

  .slide2
    background-image: url(/images/hero/cockatoo/sm/Q5A2205.jpg)

  .slide3
    background-image: url(/images/hero/cockatoo/sm/Q5A2270.jpg)

  .slide4
    background-image: url('/images/hero/cockatoo/sm/Q5A2697.jpg')

  .slide5
    background-image: url('/images/hero/cockatoo/sm/Q5A2371.jpg')

  .slide6
    background-image: url(/images/hero/cockatoo/sm/Q5A2377.jpg)

  .slide7
    background-image: url(/images/hero/eclectus/sm/Q5A3607.jpg)

  .slide8
    background-image: url(/images/hero/eclectus/sm/Q5A3708.jpg)

  .slide9
    background-image: url(/images/hero/eclectus/sm/Q5A3979.jpg)

  .slide10
    background-image: url(/images/hero/eclectus/sm/Q5A4003.jpg)

  .slide11
    background-image: url(/images/hero/eclectus/sm/Q5A4012.jpg)

  .slide12
    background-image: url(/images/hero/cockatoo/sm/Q5A6572.jpg)
//- end: Hero Unit

.team-slider
  display: flex
  scroll-snap-type: x mandatory
  overflow: hidden
  overflow-x: scroll
  position: relative
  backface-visibility: hidden
  transform: translate3d(0,0,0)
  width: 100%
  height: 320px


.team-slide
  scroll-snap-align: center
  display: block
  width: 33%
  flex-shrink: 0

  figure
    cursor: pointer;
    margin: 1em;
    opacity: 0.5;
    backface-visibility: hidden;
    transition: transform 450ms $easeInOutSine, opacity 450ms ease-in-out;
    transform: scale(0.5) translateZ(0px);
    // transition-duration: 1s
    &:hover
      opacity: 0.8;
      transform: scale(0.6) translateZ(0px);
    &:active
      opacity: 1;
      transform: scale(0.7) translateZ(0px);
    > div
      border-radius: 5px;
      position: relative;
      margin: 2rem auto;
      width: 120px;
      height: 120px;
      overflow: hidden;
      transform: rotate(45deg) translateZ(0px);
      > div
        background: url(/images/team/team.jpg) no-repeat;
        background-size: cover;
        background-position: 0px 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        height: 170px;
        transform: rotate(-45deg) translate(0%, -70%);
    figcaption
      text-align: center
      h2
        color: #111;
        font-size: 1rem;
        font-weight: 800;
      p
        color: #666;
        font-size: 0.75rem;
        font-weight: 400;

  &:nth-child(2) figure > div > div
    background-position: 0px 0px !important;
  &:nth-child(3) figure > div > div
    background-position: 0px 20% !important;
  &:nth-child(4) figure > div > div
    background-position: 0px 40% !important;
  &:nth-child(5) figure > div > div
    background-position: 0px 60% !important;
  &:nth-child(6) figure > div > div
    background-position: 0px 80% !important;
  &:nth-child(7) figure > div > div
    background-position: 0px 100% !important;

.active + .active figure
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
  transition-duration: 1s
//   animation-name: expandTeam
//   animation-duration: 1s
//   animation-fill-mode: forwards
//
// figure
//   animation-name: contractTeam
//   animation-duration: 1s
//   animation-fill-mode: forwards
//
// @keyframes expandTeam
//   from
//     opacity: 0.5
//     transform: scale(0.5)
//   to
//     opacity: 1
//     transform: scale(1) translateZ(0px)
//
// @keyframes contractTeam
//   from
//     opacity: 1
//     transform: scale(1) translateZ(0px)
//   to
//     opacity: 0.5
//     transform: scale(0.5) translateZ(0px)
