include includes/mixins.pug

doctype html
html
  head
    +head('Thanks for your interest')

  body#thanks
    #main
      +navigation-home

      #intro.pg
        article
          .inner
            h1#headline
              |Thanks for your interest.
              br
              |We’ll get back to you soon!

      -//+footer
    +main-js
