include includes/mixins.pug

doctype html
html
  head
    +head('Welcome')

  body#welcome
    #main
      header
        +hamburger
        +navigation
        +coverFlow

      +footer
    +main-js
