include includes/mixins.pug

doctype html
html
  head
    meta(name="description", content="Morite Birdwatching tours in Seram, home of the Moluccan Cockatoo")
    meta(name="keywords", content="Birdwatching, Seram, Cockatoo, Moluccan Cockatoo, Seram Cockatoo, Salmon Crested Cockatoo, Sawai, Masihulan, Indoneasia")

    +head('Welcome')

  body#welcome
    #main
      header
        +navigation
        +slider
      #intro.pg
        article
          .inner
            h1#headline Visit Seram, Home of the Moluccan Cockatoo
            div
              a.btn.btn-bg(href='#contact') Book a Tour

            p
              |Part of 
              a(href='https://en.wikipedia.org/wiki/Wallacea', target='wikipedia', title='Wikipedia') Wallacea
              |, the Indonesian island of 
              a(href='https://en.wikipedia.org/wiki/Seram_Island', target='wikipedia', title='Wikipedia') Seram
              |  boasts a unique flora and fauna due to blending of Asian and Australasian species and hence is now one of the top destinations for bird watching in Asia. Famously, it is the home of the Moluccan cockatoo – a bird found nowhere else on earth.
            p.
              The villagers in Masihulan, on the northern coast of Seram, are now playing a vital role in protecting endangered birds from illegal trading. Instead of trapping and smuggling as they once did, they now organizing bird watching tours.

            picture
              -// source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
              img(class='lazyload', src='images/welcome/econ-soni-tree.jpg' width='1024', height='560', alt='')
            p.
              Book a tour with Morite Birdwatching and our local guides will tell you the stories and legends of Seram, its history, its customs and traditions. They will take you on a guided expition through its most beautiful areas and explain to you the lifecycle of these birds.

      .pg#birds
        .parallax 
          picture
            -//source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
            img(class='lazyload', src='images/birds/cockatoo.jpg' width='1024', height='560', alt='')
        article
          .inner
            h1 Birds to be seen
            p.
              These are some of the unique birds in the jungle here. All the photos were taken by our guides or our clients.
          .boxed
            figure.third-col
              img(class='lazyload', src='images/birds/cockatoo-crest.jpg', width='450', height='320', alt='Seram (Moluccan) Cockatoos')
              figcaption Seram (Moluccan) Cockatoos
            figure.third-col
              img(class='lazyload', src='images/birds/eclectus-male-female.jpg', width='450', height='320', alt='Eclectus Parrots')
              figcaption Eclectus Parrots

            figure.third-col
              img(class='lazyload', src='images/birds/red-lories.jpg', width='450', alt='Red Lories')
              figcaption Red Lories
            figure.third-col
              img(class='lazyload', src='images/birds/moluccan-king-parrot.jpg', width='450', height='320', alt='Moluccan King Parrot')
              figcaption Moluccan King Parrots

            figure.third-col
              img(class='lazyload', src='images/birds/hornbill.jpg', width='450', alt='Hornbill')
              figcaption Hornbills
            figure.third-col
              img(class='lazyload', src='images/birds/moluccan-flying-fox.jpg', width='450', height='320', alt='Moluccan Flying Fox')
              figcaption Moluccan Flying Foxes

          .inner
            p
              |Other birds you are likely to see here:
            ul
              li Indonesian Castrols
              li Long Christ Mina
              li Coconut Lories
              li Rainbow Lories

      .pg#tours
        article
          .inner
            h1 Tours
            p Allow our experienced guides take you to explore Seram. These guides will plan, cater for and carry everthing you need for a unique wildlife adventure.
          .outer
            +tour-nature-walks
            +tour-kambali-bebas
            +tour-viewing-platforms
            +tour-canopy-platform-trips
            +tour-api-lima
            +tour-custom-tree-platforms
            +tour-trekking

      .pg#team
        article
          .inner
            h1 Team
            p.
              Morite Bird Watching is a small, community-based tour operator located in Masihulan village. All members of the team are native to Seram. With this spirit of community and ecotourism, we’d like to share the rich biodiversity of Seram.

          .inner
            ul.team-slider
              +team-member('Soni Sapulette', 'Head of Team')
              +team-member('Deni Limehuwey', '', true)
              +team-member('Cem Limehuwey')
              +team-member('P.D.')
              +team-member('Zet Patalatu 1')
              +team-member('Barkis Patamanue')

          .inner
            p The nearest airport is Ambon (AMQ), about nine hours away by car and fast boat. Email us for details on getting here.
            <iframe src="https://www.google.com/maps/d/embed?mid=19dfgRReYgaY6rdYk3s6bJi2XmHB_a6AV" width="" height="480" style="border:0; width: 100%; margin: 1rem auto;"></iframe>
            -// <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509988.49458573177!2d128.92702245204495!3d-3.018488856446105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2d6bd6d35b7b4ca3%3A0xed02e6b3442be633!2sSD+Negeri+Masihulan!5e0!3m2!1sen!2sus!4v1538806118644&z=5" width="" height="380" frameborder="0" style="border:0; width: 100%; margin: 1rem auto;" allowfullscreen></iframe>

      .pg#contact
        article
          .inner
            h1 Contact Us
            p Communicating directly with us can be slow due to lack of internet in Masihulan and spotty cell service. Please use the form below for any general questions and be patient with us.

            form.contact-form(action="https://formspree.io/info@moritebirdwatching.com", method="POST")
              div
                label
                  span Name
                  input(type="text" name="name")
              div
                label
                  span Topic
                  select(id="contact-interest", name="interested-in")
                    option(value="") Choose topic
                    option(value="tour-nature-walks") Nature Walks
                    option(value="tour-kambali-bebas") Kambali Bekas Visits
                    option(value="tour-viewing-platforms") Viewing Platform Trips
                    option(value="tour-canopy-platform-trips") Canopy Platform Trips
                    option(value="tour-api-lima") Api Lima Trips
                    option(value="tour-custom-tree-platforms") Custom Tree Platforms
                    option(value="tour-trekking") Trekking
                    option(value="directions") Directions to our location
                    option(value="other") Other

              div
                label 
                  span Email Address
                  input(type="email" name="_replyto")
              div
                label 
                  span Message
                  textarea(name='message')
              div
                button.btn(type="submit") Send

              input(type="hidden" name="_subject" value="Morite Birdwatching Inquirery")
              input(type="hidden" name="_next" value="http://moritebirdwatching.com/confirm.html")

      +footer
    +main-js
