include includes/mixins.pug

doctype html
html
  head
    +head('Welcome')

  body#welcome
    #main
      header
        +navigation
        +snapper
      #intro.pg
        #headline
          h1 Welcome to Morite Bird Watching Tours, Seram Island!

        article
          .inner
            p.heading
              a(href='https://en.wikipedia.org/wiki/Seram_Island', target='wikipedia', title='Wikipedia') Seram Island
              |&nbsp;is now one of the top destinations for bird watching in Asia. The Indonesian island of Seram, part of Wallacea, has unique flora and fauna due to blending of Asian and Australasian species. This island is also known as the home of the Moluccan cockatoo – a bird found nowhere else on earth. 

            p.
              The villagers in Masihulan, on the northern coast of Seram, play a vital role in protecting endangered birds from illegal trading. They focus on organizing bird watching tours instead of trapping and smuggling birds.

      .pg
        .parallax
          picture
            -// source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
            img(class='lazyload', src='images/welcome/econ-soni-tree.jpg' width='1024', height='560', alt='')
        article
          .inner
            p.heading.
              Our local guides are available to tell you stories about Seram, also known as the Mother Island, its culture, its natural beauties and to introduce you to the life of the birds.
            p.
              Book a tour with us and we will help you explore the nature and the birds of Seram, as well as giving you insight into the local values, custom and traditions.

      .pg#birds
        .parallax 
          picture
            -//source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
            img(class='lazyload', src='images/birds/cockatoo.jpg' width='1024', height='560', alt='')
        article
          .inner
            h1 Birds from the Region
            p.
              These are some of the unique birds in the jungle here. All photos were taken by us or our clients.
          .boxed
            picture.half-col
              img(class='lazyload', src='images/birds/cockatoo-crest.jpg', width='450', height='320', alt='Seram (Moluccan) Cockatoos')
              figure Seram (Moluccan) Cockatoos
            picture.half-col
              img(class='lazyload', src='images/birds/eclectus-male-female.jpg', width='450', height='320', alt='Eclectus Parrots')
              figure Eclectus Parrots

            picture.half-col
              img(class='lazyload', src='images/birds/red-lories.jpg', width='450', alt='Red Lories')
              figure Red Lories
            picture.half-col
              img(class='lazyload', src='images/birds/moluccan-king-parrot.jpg', width='450', height='320', alt='Moluccan King Parrot')
              figure Moluccan King Parrots

            picture.half-col
              img(class='lazyload', src='images/birds/hornbill.jpg', width='450', alt='Hornbill')
              figure Hornbills
            picture.half-col
              img(class='lazyload', src='images/birds/moluccan-flying-fox.jpg', width='450', height='320', alt='Moluccan Flying Fox')
              figure Moluccan Flying Foxes

          .inner
            p
              |Other birds you are likely to see here are:
            ul
              li Indonesian Castrols
              li Long Christ Mina
              li Coconut Lories
              li Rainbow Lories

      .pg#tours.reverse
        article
          -//.inner
          h1 Tours
          +service-nature-walks
          +service-kambali-bebas
          +service-viewing-platforms
          +service-canopy-platform-trips
          +service-expedition-cooking
          +service-api-lima
          +service-custom-tree-platforms
          +service-trekking

      .pg#team
        article
          .inner
            h1 Team
            p.
              Morite Bird Watching is a small, community-based tour operator located in Masihulan village. All members of the team are native to Seram. With this spirit of community and ecotourism, we’d like to share the rich biodiversity of Seram.
            +team-portrait('_Q5A7037.jpg', 'Soni')
            +team-portrait('_Q5A7039.jpg')
            +team-portrait('_Q5A7040.jpg')
            +team-portrait('_Q5A7041.jpg')
            +team-portrait('_Q5A7043.jpg', 'P.D.')
            +team-portrait('_Q5A7044.jpg')

      .pg#contact
        article
          .inner
            h1 Contact Us
            .half-col
              form.contact-form(action="https://formspree.io/kai@becak.bike", method="POST")
                div
                  label 
                  span Name
                    input(type="text" name="name")
                div
                  label 
                    span Email Address
                    input(type="email" name="_replyto")
                div
                  label 
                    span Message
                    textarea(name='message')
                div
                  button.btn(type="submit") Send

                input(type="hidden" name="_subject" value="Morite Birdwatching Inquirery")
                input(type="hidden" name="_next" value="http://moreitebirdwatching/confirm.html")

            .half-col
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509988.49458573177!2d128.92702245204495!3d-3.018488856446105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2d6bd6d35b7b4ca3%3A0xed02e6b3442be633!2sSD+Negeri+Masihulan!5e0!3m2!1sen!2sus!4v1538806118644" width="" height="320" frameborder="0" style="border:0; float:right; width: 95%; margin-top: 2rem;" allowfullscreen></iframe>
      +footer
    +main-js
